<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <nav>
      <div id = 'header'>
      <div id='logo'>SHAREYOUTUBE</div>
      <input id = "searchF"type="text" placeholder = "Search...">
      <div id="icon"></div>
    </div>
    </nav>
  </body>
</html>
