#ytplayer{
  width: 935px;
  height: 500px;
  display: none;
  margin: 0 auto;
  position: absolute;
}
.mypage{
  margin: 60px auto;
  width: 935px;
  padding: 60 20 0 20;
}
.myContent{
  display: flex;
  margin-bottom: 15px;
}
.left_content{
  height: 152px;
  margin-left: 72px;
  margin-right: 30px;
  display: inline-block;
}
.right_content{
  height: 152px;
  display: inline-block;
}
.profile_img{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100;
}
.profile_name{
  display: inline-block;
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
  margin-left: 100px;
  margin-top: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post_img{
  width: 293px;
  height: 293px;
  margin : 6px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,.0975);
}
